:root {
  --primary-color: #61DAFB;
  --secondary-color: #764ABC;
  --bg-color: #212121;

}

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

.app{
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    width: 100%;
    height: 100vh;
}