.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background: linear-gradient(to bottom,  var(--primary-color) 50%, rgba(183,222,237,1));
}